## Standard .gitignore for .NET / Visual Studio projects

# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/

# Visual Studio cache files
.vs/
*.user
*.suo

# NuGet
*.nupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Local user files
*.local
